In [ ]:
#importar a bibloteca do pandas
import pandas as pd


#trabalhar com um arquivo CSV | XLSX = EXCEL | SQL

tabela = pd.read_csv('caminho do arquivo')
tabela = pd.read_csv('No colab')
tabela = pd.read_csv('No link')
tabela = pd.read_csv('No drive')

In [ ]:
import pandas as pd

s1 = pd.Series(['Guerra nas Estrelas', 'O Império Contra-Ataca', 'O Retorno de Jedi'])
s2 = pd.Series(data=['Guerra nas Estrelas', 'O Império Contra-Ataca', 'O Retorno de Jedi'])

display(s1)

display(s2)

In [ ]:
filmes = ['Guerra nas Estrelas', 'O Império Contra-Ataca', 'O Retorno de Jedi']
anos = [1977, 1980, 1983]

pd.Series(data=filmes, index=anos)

1977       Guerra nas Estrelas
1980    O Império Contra-Ataca
1983         O Retorno de Jedi
dtype: object

In [ ]:
filmes = ['Guerra nas Estrelas', 'O Império Contra-Ataca', 'O Retorno de Jedi']
anos = ['Episódio 4', 'Episódio 5', 'Episódio 6']

pd.Series(data=filmes, index=anos)

Episódio 4       Guerra nas Estrelas
Episódio 5    O Império Contra-Ataca
Episódio 6         O Retorno de Jedi
dtype: object

In [ ]:
s1 = pd.Series(['Python', 'Pandas', 'Pentest'])
s2 = pd.Series([1, 2, 3])
s3 = pd.Series([3.10, 1.4, 2.0])

print(s1.dtype)
print(s2.dtype)
print(s3.dtype)

object
int64
float64

In [ ]:
df = pd.DataFrame(
    #registro da minha tabela
    data=[
          ['Guerra nas Estrelas', 1977],
          ['O Império Contra-Ataca', 1980],
          ['O Retorno de Jedi', 1983]
    ],
    #indice = id = primeira linha da tabela
    index=['Episódio 4', 'Episódio 5', 'Episódio 6'],
    #titulo das colunas
    columns=['Filmes', 'Ano de Lançamento']
)

df

                            Filmes  Ano de Lançamento
Episódio 4     Guerra nas Estrelas               1977
Episódio 5  O Império Contra-Ataca               1980
Episódio 6       O Retorno de Jedi               1983

In [ ]:
df.to_csv('filmes')

#COVID - 19

In [ ]:
import pandas as pd

covid = pd.read_csv("/content/covid.csv" , sep = ';')
display(covid)

In [ ]:
#ver as linhas
covid[1000:1005]

In [ ]:
#Excluir os dados faltantes  | NAN | dropna
covid_limpo = covid.dropna()
covid_limpo.head()
display(covid_limpo)

In [ ]:
#exportar(baixar) o arquivo com o novo nome | baixar os dados tratados
covid_limpo.to_csv("covid_tratados.csv")

In [ ]:
#nome das colunas /  ver o nome das colunas
covid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

In [ ]:
#descrever os dados
covid.describe()

In [ ]:
covid.T

In [ ]:
#Seleção pelo o nome das colunas / loc linha 100 até 200
# [LINHAS INICIO : LINHA FIM ], [COLUNA OU COLUNAS]

covid.loc[2000:2005 , ["estado","obitosNovos", "data"]]

In [ ]:
#Selecionar linhas iloc
covid.iloc[[1000]]

In [ ]:
#iloc pode ser passado por uma matriz
#aqui passamos o número da coluna
#covid.iloc[linhas inicio:fim, número da coluna ou os números das colunas]

covid.iloc[150:155,0:3]

In [ ]:
#Selecionando o código do estado
#atividade pesquise pelo o codifgo da uf
covidCeara = covid[covid['coduf'] == 23]
covidCeara

In [ ]:
# mean - a média dos novos casos
covid['obitosAcumulado'].mean()

In [ ]:
#recuperados
covid['Recuperadosnovos'].mean()

In [ ]:
#entradas novas por estado
covid['estado'].value_counts()

In [ ]:
#entradas novas por estado, percetual
covid['estado'].value_counts(normalize = True)

In [ ]:
# Ordenar um serie = Coluna
covid['estado'].sort_values(ascending = True)

In [ ]:
#Ordenar um data frame = tabela inteira
covid.sort_values(by = 'populacaoTCU2019',ascending = True)

## GRÁFICOS

In [ ]:
#Exibir uma serie com o gráfico de uma linha
covid['estado'].value_counts().plot()

In [ ]:
#exibir uma serie com graficos de coluna -  histograma
covid['coduf'].value_counts().plot(kind = 'hist')

In [ ]:
#exibir uma serie com graficos de coluna -  barra
covid['estado'].value_counts().plot(kind = 'bar')

In [ ]:
covid['estado'].value_counts().plot(kind= 'pie')